.contactsBlock {
  min-height: 30vh;
  background-color: #111;


  .contactsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .wrapper {
      display: flex;
      margin-right: -15px;
      margin-left: -15px;

      .contactsWrapper {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;

        .h3_text {
          font-size: 26px;
          font-weight: 600;
          text-transform: uppercase !important;
          margin-bottom: 0 !important;
          margin-top:0;
          line-height: 1.2;
          font-family: 'Poppins', sans-serif;
          color: #fff;
        }
        .p{
          font-family: 'Open Sans', sans-serif;
          margin-top: 0;
          font-size: 15px;
          color: #fff;
          font-weight: 500;
          line-height: 1.6;
          .spanText{
            display: block!important;
            text-transform: uppercase;
            opacity: .8;
            font-weight: 400;
            line-height: 21px;

          }
        }
      }


      .contactsForm {
        display: block;
        margin-top: 0em;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        color: #fff;
        font-weight: 500;
        line-height: 1.6;

        .row {
          display: flex;
          flex-wrap: wrap;
          margin-right: -15px;
          margin-left: -15px;

          .wrapper_input {
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;

            .input {
              border: 1px solid #111;
              width: 100%;
              background: #252525;
              color: #fff;
              padding: 11px 26px;
              margin-bottom: 30px;
              border-radius: 30px;
              outline: none !important;
              transition: .3s;
            }
          }

          .wrapper_text {
            flex: 0 0 100%;
            max-width: 100%;
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;

            .textarea {
              border: 1px solid #111;
              background: #252525;
              color: #fff;
              width: 100%;
              padding: 12px 26px;
              margin-bottom: 20px;
              height: 160px;
              overflow: hidden;
              border-radius: 30px;
              outline: none !important;
              transition: .3s;
            }
          }


          .btn {
            box-shadow: none !important;
            border-radius: 26px;
            font-weight: 500;
            height: 46px;
            line-height: 46px;
            font-size: 15px;
            text-transform: uppercase;
            color: #fff;
            background-color: #8a2be2;
            padding: 0 40px;
            outline: none !important;
            overflow: hidden;
            display: inline-block;
            position: relative;
            font-family: 'Poppins', sans-serif;
            letter-spacing: .5px;
            border: 0;
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}



