.skillsBlock {
    min-height: 100vh;
    background-color: #111;
}
.skillsContainer{
    flex-direction: column;
    justify-content: flex-start;
}
.title{
    background-color: red;
}
.skills{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}