.nav{
   border: 1px solid;
   width: 350px;
   display: flex;
   justify-content: space-between;
}
.link{
   color: #fff;
   font-size: 20px;
   font-weight: 600;
   text-decoration: none;
   background-color: transparent;
   margin-right: 5px;
}
.link:hover {
   color: #8a2be2;
   text-decoration: underline;
}
